<h1>create</h1>
<form method="POST" id="createForm">
    <input type="text" name="name" placeholder="name...">
    <input type="email" name="email" placeholder="email...">
    <input type="text" name="role" placeholder="role...">
    <button id="createBtn">Create</button>
</form>
<div id="createErrorMsg"></div>
<script src="/js/createUser.js" defer></script>