<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>express sequelize ejs</title>
    <style>
        body {
            background-color: lightgray;
        }

        #workflow-chart {
            width: 600;
            border-radius: 6px;
            overflow: hidden;
            object-fit: cover;
            border: 2px solid purple;
        }
    </style>
</head>

<body>
    <nav>
        <a href="/">home</a>
        <a href="/catalog">catalog</a>
        <a href="/about">about</a>
    </nav>
    <main>
        <%- body %>
    </main>
</body>

</html>