body{
    margin: 0;
    background-color: lightgray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 2px;
    border-bottom: 2px solid blue;
    background-color: bisque;
}

nav a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    padding: 1px;
}

nav a:hover{
    background-color: lightblue;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    text-align: center;
}

.list-container {
    display: flex;
    gap: 12px;
}

.dashboard-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border: 1px solid;
}

.dashboard-item-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid;
}