body{
    margin: 0;
    background-color: lightgray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 2px;
    border-bottom: 2px solid blue;
    background-color: bisque;
}

nav a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    padding: 1px;
}

nav a:hover{
    background-color: lightblue;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}