<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mongoose demo</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <a href="/">home</a>
        <a href="/users">users</a>
        <a href="/posts">posts</a>
        <a href="/create">create</a>
    </nav>
    <main>
        {{{body}}}
    </main>
</body>

</html>