<h1>Express, Handlebars, Mongoose</h1>
<p>This demo is a backend prototype of another project - a social network</p>
<p>The client writen in react <a href="https://github.com/iliyanNikolaev/react-social-ntw" target="_blank">GitHub Repo</a></p>